.wrapper_input {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: var(--transition);
}

.input::placeholder {
    font-size: 16px;
}

.input:hover {
    transition: var(--transition);
    box-shadow: 0 0 0 2px var(--primary);
}
.input:focus {
    transition: var(--transition);
    box-shadow: 0 0 0 2px var(--primary);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    width: 25px;
    height: 25px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    display: grid;
    place-content: center;
    padding: 0;
    cursor: pointer;
}

.input[type="checkbox"]::before {
    content: "";
    width: 21px;
    height: 21px;
    transform: scale(0);
    border-radius: 5px;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 25px 25px var(--pink);
}

.input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.wrap_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
}

.variant_2 {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.title {
    color: var(--light);
    font-weight: 600;
}

.question {
    position: absolute;
    z-index: 2;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--red);
    width: 20px;
    height: 20px;
    padding: 1px;
}

.question > svg {
    width: 100%;
    height: 100%;
}

.question > svg > path {
    stroke: var(--light);
}

.wrap_select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}

.select {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    background: var(--light);
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.choose {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100%;
    font-size: 15px;
    border-bottom: 1px solid var(--primary);
    color: var(--dark);
}

.btn {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: transparent;
}

.btn svg {
    width: 20px;
    height: 20px;
    fill: var(--primary);
}

.select_show {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background: var(--light);
    padding: 5px;
    z-index: 2;
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: all 300ms ease-in-out;
    overflow: hidden;
}

.show_active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: all 300ms ease-in-out;
    max-height: 200px;
}

.item_list {
    display: flex;
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    border-bottom: 1px solid var(--primary);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    padding: 5px;
    color: var(--dark);
}

.item_list:hover {
    background: rgba(52, 105, 218, 0.2);
    transition: all 300ms ease-in-out;
}