.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 300px;
}

.button_menu_small {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.block_1, .block_2 {
    width: 400px;
    height: 400px;
    position: absolute;
    display: flex;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    pointer-events: none;
    user-select: none;
    z-index: -1;
}

.block_1 {
    top: calc(38% - 200px);
    left: calc(58% - 200px);
}

.block_2 {
    top: calc(62% - 200px);
    left: calc(43% - 200px);
}

.block_1::after, .block_2::after {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: 100px;
}

/*.block_1::before {*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: -70px;*/
/*    right: -200px;*/
/*    background: rgb(175,3,165);*/
/*    background: radial-gradient(circle, rgba(175,3,165,0.3) 15%, rgba(16,158,18,0) 70%);*/
/*    z-index: -1;*/
/*}*/

.block_1::after {
    background: var(--pink);
    box-shadow: 50px -50px 100px 50px rgba(0,114,66,0.8);
}

.block_2::after {
    background: var(--primary);
    box-shadow: -50px 50px 100px 50px rgba(255,91,190,0.8);
}