.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    width: 100%;
    max-width: 300px;
}

.button_menu_small {
    position: absolute;
    display: flex;
    gap: 10px;
    right: -50px;
    bottom: -100px;
}