.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.wrapper::-webkit-scrollbar {
    background: var(--grey-l);
    border-radius: 30px;
    width: 5px;
}
.wrapper::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 30px;
}

.wrap_none {
    justify-content: flex-start;
    padding: 5px 10px 5px 5px;
    gap: 10px;
    overflow-y: auto;
}

.wrap_orange {
    border: 2px solid var(--orange);
}

.wrap_green {
    border: 2px solid var(--primary);
}

.wrap_purple {
    border: 2px solid var(--red);
}

.wrap_blue {
    border: 2px solid var(--blue);
}