.modal_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    transition: var(--transition);
    opacity: 0;
    pointer-events: none;
    user-select: none;
    cursor: none;
    display: flex;
    flex-direction: column;
    padding: 150px 20px 20px;
    align-items: center;
}

.modal_wrap_active {
    opacity: 1;
    pointer-events: fill;
    cursor: default;
    transition: var(--transition);
}

.block_modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    transform: translateY(-50px);
    transition: var(--transition);
    max-height: 700px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.block_modal:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary);
    filter: blur(200px);
    z-index: -1;
}

.block_modal::-webkit-scrollbar {
    background: var(--grey-l);
    border-radius: 30px;
    width: 10px;
}
.block_modal::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 30px;
}

.block_modal_active {
    transform: translateY(0);
    transition: var(--transition);
}

.block_close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.block_close > button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    transition: var(--transition);
}

.block_close > button:hover {
    background: var(--primary);
    transition: var(--transition);
}

.block_close > button >  svg {
    fill: var(--light);
}