@import url('react-day-picker/dist/style.css');

.rdp {
    --rdp-cell-size: 40px; /* Size of the day cells. */
    --rdp-caption-font-size: 18px; /* Font size for the caption labels. */
    --rdp-accent-color: var(--light); /* Accent color for the background of selected days. */
    --rdp-background-color: var(--appear); /* Background color for the hovered/focused elements. */
    --rdp-accent-color-dark: var(--light); /* Accent color for the background of selected days (to use in dark-mode). */
    --rdp-background-color-dark: var(--appear-5); /* Background color for the hovered/focused elements (to use in dark-mode). */
    --rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
    --rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */
    --rdp-selected-color: var(--dark); /* Color of selected day text */
}