.blob_1, .blob_2 {
    position: fixed;
    width: 900px;
    height: 900px;
    z-index: -1;
    filter: blur(50px);
    bottom: -450px;
    left: -450px;
    transition: var(--transition);
}

.orbit_1 {
    position: fixed;
    bottom: -650px;
    left: -550px;
    width: 1200px;
    height: 1200px;
    background: transparent;
    animation: infinite 60s 0ms linear orbit;
    z-index: -1;
}

.orbit_2 {
    position: fixed;
    top: -650px;
    right: -550px;
    width: 1200px;
    height: 1200px;
    background: transparent;
    animation: infinite 60s 0ms linear orbit;
    z-index: -1;
}

.orbit_3 {
    position: fixed;
    top: -700px;
    right: -600px;
    width: 1400px;
    height: 1400px;
    background: transparent;
    animation: infinite 60s 0ms linear orbit-rev;
    z-index: -1;
}

@keyframes orbit {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes orbit-rev {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}


.blob_2 {
    bottom: auto;
    left: auto;
    right: -450px;
    top: -450px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}



