@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Alegreya, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --dark: rgba(15, 16, 14, 1);
  --light: rgba(251, 251, 251, 1);

  --grey: rgb(126, 126, 126);
  --grey-l: rgb(175, 175, 175);
  --grey-d: rgb(66, 66, 66);

  --warning: rgb(255, 115, 0);
  --success: rgba(94, 225, 97, 1);
  --yellow: rgba(238, 252, 81, 1);
  --pink: rgba(255, 91, 190, 1);
  --blue: rgba(87, 210, 255, 1);
  --purple: rgba(149, 63, 189, 1);

  --primary: rgba(0, 114, 66, 1);
  --primary-h: rgb(0, 101, 59);

  --transition: all 0.3s ease-in-out;
}

/* -------- THEME LIGHT -------- */
body[data-theme="light"] {
  --background: var(--light);
  --color: var(--dark);

  --primary-s: rgb(0, 59, 35);

  --secondary: rgba(252, 13, 72, 1);

  --accent: rgba(149, 63, 189, 1);
}

/* -------- THEME DARK -------- */
body[data-theme="dark"] {
  --background: var(--dark);
  --color: var(--light);

  --primary-s: rgb(76, 169, 133);

  --secondary: rgb(255, 107, 144);

  --accent: rgb(232, 182, 253);

}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  transition: var(--transition);
  background: var(--background);
  color: var(--color);
}

#root {
  height: calc(100vh - 42px);
}