.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px 10px 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary);
    background: var(--dark);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn_back {
    width: auto;
    align-self: flex-start;
    justify-self: flex-start;
    gap: 5px;
}

.btn_back > svg {
    width: 20px;
    height: 20px;
}

.btn_back > svg path {
    fill: var(--light);
}